body {
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
 } 
::-webkit-scrollbar {
  display: none;
}

.home {
  width: 100vw;
  height: 55px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin-right: auto;
  width: 120px;
  margin-left: 10px;
  display: flex;
  height: 30px;
}

.logo-img {
  width: auto;
  height: auto;
}

.unit {
  /* background-color: bisque; */
  float: right !important;
  width: 180px;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  height: 30px;
  color: black !important;
  align-items: center;
  justify-content: flex-end;
}

.unit-icons {
  margin-right: 10px;
}

a {
  text-decoration-line : none;
  text-decoration: none;
  color: black;
}

.space {
  text-decoration-line : none;
  text-decoration: none;
  font-weight: bold;
  color: black !important;
  /* margin-left: 90px; */
  margin-left: 80px;
}

.menu {
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.as {
  margin-right: 30px;
}

.banner {
  margin-top: 10px;
  width: 100vw;
  height: 220px;
}

.mbanner {
  width: 100%;
  height: 100%;
}

.bookshelf{
  width: 100vw;
  height: auto;
  /* height: 100vh; */
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonts {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  margin-left: 15px;
}

.book {
  width: 90px;
  height: 120px;
  background-color: blueviolet;
}

.top {
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
  width: 100vw;
  height: 300px;
  background-color: darkorange;
}

.notice {
  width: 100vw;
  height: 90px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice-text {
  width: 80%;
  color: #707070;
}

.account-h {
  width: 100vw;
  height: 100vh;
  background-color: #EBECF0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-app {
  width: 50%;
  height: 55%;
  border-radius: 15px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.account-title {
  font-weight: bold;
  font-size: 20pt;
  margin-top: 45px;
}

.acc-email {
  width: 250px;
  height: 30px;
  margin-top: 30px;
}

.acc-password {
  width: 250px;
  height: 30px;
  margin-top: 20px;
}
